body {
  background: url("./assets/bg.jpg") no-repeat center center fixed;
}

header {
  background: #fff;
  padding: 20px;
}
.logoImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#main {
  margin: 0 auto;
  width: 50%;
  background: url("./assets/bg.jpg") no-repeat center center fixed;
}
